.sections {
    display: flex;
    // align-items: center;
    // align-content: center;
    flex-wrap: wrap;
    .section {
        flex: 0 0 33.33333333%;
        width: 33.33333333%;
        height: 120px;
        text-align: center;
        background: white;
        border-right: 1px solid var(--global-border-color);
        border-bottom: 1px solid var(--global-border-color);
        position: relative;
        &.no-right-border {
            border-right: 0;
        }
        .badge {
            display: inline-block;
            position: absolute;
            top: 12px;
            left: 50%;
            margin-left: 15px;
            font-size: 10px;
            background: red;
            height: 16px;
            min-width: 16px;
            line-height: 16px;
            border-radius: 10px;
            color: #fff;
            padding: 0 5px;
            // vertical-align: -5px;
            font-family: 'PingFang SC', Arial, Helvetica, sans-serif;
        }
        img {
            height: 28px;
            width: auto;
            margin-top: 28px;
        }
        .name {
            margin: 0;
            margin-top: 10px;
            font-size: 14px;
            color: #333;
        }
    }
}

.sync-overlap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
    .sync-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        .sync-box {
            flex: 0 0 168px;
            width: 168px;
            background: white;
            height: 168px;
            border-radius: 12px;
            .progress-wrap {
                width: 88px;
                height: 88px;
                margin: 25px auto 10px;
                position: relative;
                font-size: 20px;
                .current {
                    position: absolute;
                    color: #666;
                    font-weight: 100;
                    line-height: 1;
                  }
            }
            .loading-tips {
                font-size: 14px;
                color: #333;
            }
        }
    }
}

